.section_one {
  background: #f4efef;
}

.overall_container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.hero_container {
  display: flex;
}

.hero_container > div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_paragraph {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.hero_button {
  width: 50%;
}

.hero_largetext {
  width: 85%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #421956;
  letter-spacing: 0.065em;
}

.hero_smalltext {
  margin: 20px 0 40px 0;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 31px;
  color: #a35ec3;
}

.hero_images {
  width: 40%;
}

.hero_images > img {
  width: 100%;
}

.btn_buyNow {
  width: auto;
  padding: 10px 30px;
  border-radius: 8px;
  color: #ffffff;
  background: #421956;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
