.navbar_container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.navbar_container .header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0 .5em;
    /* position: fixed;
    z-index: 10; */
}


.logo{
    min-width: 154px;
    /* height: 42px;  */
}

.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi{
    display: flex;
}

.navi li{
    /* padding: 0 1rem; */
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.nav_items + .nav_items{
    margin-left: 4em;
}

.navi li:hover{
    color: #A35EC3;
}

.cta{
    display: flex;
}

.cta button{
    /* margin-right: 2rem; */
    font-size: 16px;
    /* line-height: 19px; */
    /* height: 44px; */
    border-radius: 4px;    
}

.cta .signUp{    
    font-weight: 700;
    color: #FFFFFF;
    padding: .5em 1.5em;
    /* width: 162px; */
    background: #421956;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cta .signUp:hover{
    color: #421956;
    background: #FFFFFF;
    border: 1px solid #A35EC3;

}

.cta .signIn{  
    font-family: 'Inter';
    font-weight: 500;  
    color: #A35EC3;
    padding: 0em 1.5em;
    /* width: 110px; */
    border: 1px solid #A35EC3;
}
.cta .signIn:hover{
    color: #FFFFFF;
    background: #421956;
}

.action_button + .action_button {
    margin-left: 2em;
}