@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');


.header{
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
}

.header-bg{
    background-color: #FFFFFF;
    transition: 0.5s;
}

.logo{
    min-width: 154px;
    /* height: 42px;  */
}

.navi{
    display: flex;
    justify-content: space-between;
}
.navig{
    display: flex;
    align-items: center;
}

.navi li{
    /* padding: 0 1rem; */
    font-family: 'Lora';
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.nav_items + .nav_items{
    margin-left: 1rem;
    margin-right: 1rem;
}

.navi li:hover{
    color: #A35EC3;
}

.cta{
    display: flex;
}

.cta button{
    /* margin-right: 2rem; */
    font-size: 16px;
    /* line-height: 19px; */
    height: 44px;
    border-radius: 7px;    
}

.cta .signUp{    
    font-weight: 700;
    color: #FFFFFF;
    padding: .5em 1.5em;
    /* width: 162px; */
    background: #421956;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cta .signUp:hover{
    color: #421956;
    background: #FFFFFF;
    border: 1px solid #A35EC3;

}

.cta .signIn{  
    font-family: 'Lora';
    font-weight: 500;  
    color: #A35EC3;
    padding: 0em 1.5em;
    /* width: 110px; */
    border: 1px solid #A35EC3;
}
.cta .signIn:hover{
    color: #FFFFFF;
    background: #421956;
}

.action_button {
    margin-left: 2em;
}

.hamburger{
    display: none;
    position: fixed;
    right: 0;
}

.hamburger svg{
    height: 2rem;
    margin-right: 1rem;
    color:#421956;
    transition: transform .1s;
}
.hamburger svg:hover{
    transform: scale(1.1);
}

 @media screen and (max-width: 670px) {
    .header{
        height: 3rem;
        justify-content: space-between;
    }
    .navi{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        left: -100%;
        transition: 0.5s;
        z-index: 0;
    } 
    
    .navig{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .cta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .action_button{
        margin: 1rem;
    }
    .navi.active {
        left: 0;
    }

    li{
        padding: 2 0rem;
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
    }
    

    .hamburger{
        display: initial;
        z-index: 10;
    }
}